
.master{
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;

  .page-content{

    display:flex;
    overflow: hidden;
    justify-content: center;



  }

}
.con{
  min-width: 70%;
  overflow: hidden;
}


