
.master{
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;

  .page-content{
    flex-grow: 1;
    display:flex;

    justify-content: center;



  }

}
.con{
  min-width: 70%;
}


