<div class="master">

  <div class="page-content" >
  <div class="con" >
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>

    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>
    <app-vid-blue></app-vid-blue>

  <div>
  </div>
  </div>
