
<app-nav></app-nav>

<div  >

  <div  class="scrollbar" id="ss">
    <ul class="gg">
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>

    <app-cursorbut></app-cursorbut>

    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut> <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    <app-cursorbut></app-cursorbut>
    </ul>
  </div>




</div>
<button type="button" id="slide" >Fwfew</button>
<button type="button" id="slideBack">Bdsgaerg</button>
<div class="claud">
<div class="bul">
<div class="containere "  >
  <!-- <youtube-player videoId="sk3rpYkiHe8"></youtube-player> -->
  <div class="columns" >

<div #player class="colmun " style=" padding:0px; padding-top: 20px; padding-left: 20px; width: 60%; min-width:100vh;vertical-align: top;">

<div #demoYouTubePlayer style="padding: 0px;">

 <youtube-player [videoId]="videos"
                      [width]="videoWidth" [height]="videoHeight"></youtube-player>
                      <h1>This is the title</h1>
                      <h2>views and body count</h2>

</div>
      </div>
  <div class="column" style="padding: 5px; padding-top: 10px;" >
    <div class="cruv" >
      <app-videorec></app-videorec>
    </div>

  </div>

  </div>
</div>
</div>


<script type="text/javascript">
  var button = document.getElementById('slide');
  button.onclick = function () {
      var container = document.getElementById('ss');
      console.log("dssfsfd");
      sideScroll(container,'right',25,100,10);
  };

  var back = document.getElementById('slideBack');
  back.onclick = function () {
      var container = document.getElementById('ss');
      sideScroll(container,'left',25,100,10);
  };

  function sideScroll(element,direction,speed,distance,step){
      scrollAmount = 0;
      var slideTimer = setInterval(function(){
          if(direction == 'left'){
              element.scrollLeft -= step;
          } else {
              element.scrollLeft += step;
          }
          scrollAmount += step;
          if(scrollAmount >= distance){
              window.clearInterval(slideTimer);
          }
      }, speed);
  }


  </script>
