
<div class="claud">
<div class="bul" >
  <app-nav></app-nav>

  <div  class="scrollbar" id="ss">
    <button>asdfffghjklkjkhgfd</button>
    <button>asdfffghjklkjkhgfd</button>
    <button>asdfffghjklkjkhgfd</button>
    <button>asdfffghjklkjkhgfd</button>

     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
    <div id="genny">

    <app-cursorbut></app-cursorbut>
      </div>
      <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>
     <button>asdfffghjklkjkhgfd</button>

  </div>






<div class="containere "  >
  <!-- <youtube-player videoId="sk3rpYkiHe8"></youtube-player> -->
  <div class="columns" >

<div #player class="colmun " style=" padding:0px; padding-top: 20px; padding-left: 20px; width: 60%; min-width:100vh;vertical-align: top;">

<div #demoYouTubePlayer style="padding: 0px;">

 <youtube-player [videoId]="videos"
                      [width]="videoWidth" [height]="videoHeight"></youtube-player>
                      <h1>This is the title</h1>
                      <h2>views and body count</h2>

</div>
      </div>
  <div class="column" style="padding: 5px; padding-top: 10px;" >
    <div class="cruv" >
      <app-videorec></app-videorec>
    </div>

  </div>

  </div>



</div>
</div>


