@import '../../../main-style.scss';

.bulge{

 min-width: 70%;
}
.container{
  width: 100%;


}

.scrollbar
{
  width:100%;
  height: 70px;
  background:  linear-gradient(to right,$pink,$blue);
  display: flex;

  align-items: center;

  // box-shadow: 0px 0px 10px 0px rgba(black,0.15);
  overflow-x: scroll;



}
.gg{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#ss::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:  linear-gradient(to right,$pink,$blue);

}

#ss::-webkit-scrollbar
{
	width: 2px;
  height: 8px;
	background-color: #F5F5F5;
}

#ss::-webkit-scrollbar-thumb
{
	background-color:darken($purple,10);
}

.claud{
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
.bul{
  overflow-y: scroll;
}}
