.bloc_1_edito{width: 967px;background-color: #bbbbbb;height: 366px;margin:0 auto;position: relative}

#nav_container {

    bottom: 0px;
    background-color: rgba(181, 174, 5, 0.4);
    display: flex;
    height: 80px;
    width: 100%;
    overflow-x:scroll;


}

#prev_nav{position: absolute;
left: 5px;font-size:20px;font-family: 'avantgarde_medium';
font-weight: bold;top:30px;color: blacks;cursor: pointer;z-index: 1000;}
#next_nav{position: absolute;
right: 5px;font-size:20px;font-family: 'avantgarde_medium';
font-weight: bold;top:30px;color: black;cursor: pointer;z-index: 1000;}
#nav{
    position: absolute;
    width: 500px;
    overflow: hidden;
}

#nav li { width: 116px; height:65px; display: inline-block; margin: 10px 5px 8px 33px;list-style: none }




